<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th>Product Title</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    </thead>

    <tbody>
      <tr *ngFor="let orderItem of orderItems">
                <td>{{orderItem.id}}</td>
                <td>{{orderItem.product_title}}</td>
                <td>{{orderItem.quantity}}</td>
                <td>{{orderItem.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
